* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
**:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100vh;
  width: 100wv;
}

.main-title {
  font-size: 1.5rem;
  text-align: center;
}

.title {
  margin-top: 30px;
}

.wrapp {
  height: 100vh;
  width: 100wv;
  background-color: #edeef0;
}

.wrapp .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 920px;
}

.form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100wv;
}

.form {
  max-width: 500px;
  min-width: 350px;
  background: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 4px;
}

.form__container {
  padding: 25px;
}

.form__btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #5181b8;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.form__btn:hover {
  background-color: gray;
  border-radius: 10px;
}

.form-label {
  margin-top: 10px;
}

.user {
  width: 100%;
}

.user__container {
  padding: 50px 10px;
}

.user__block {
  background: #ffffff;
  border-radius: 4px;
  padding: 20px;
}

.user__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
}

.user__name span,
.user__education {
  font-size: 19px;
  line-height: 25px;
  font-weight: 600;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.user__education {
  margin-top: 10px;
}

.user__education span {
  font-size: 16px;
  font-weight: 400;
  background-color: gray;
  color: #fff;
  padding: 2px 10px;
  border-radius: 7px;
}

.user__img {
  margin-right: 30px;
}

.user__img img {
  max-width: 150px;
  border-radius: 50%;
}

.user__data {
  margin-top: 10px;
}

.user__capabilities-container {
  padding: 20px 10px 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__capabilities-container button {
  margin-bottom: 10px;
  width: 430px;
}

.choice__block {
  margin-top: 40px;
}

.choice .input-group-text {
  background: gray;
  color: #e2cece;
}

.choice .form-control {
  height: 40px;
}

.choice__plus-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice__btn_next {
  height: 40px;
  width: 200px;
}

.choice__btn-plus {
  height: 40px;
  width: 40px;
  border: 5px solid #ffffff;
  border-radius: 12px;
  background: gray;
  color: #ffffff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  margin-top: 10px;
}

.choice__btn-plus:hover {
  border: 5px solid gray;
  color: gray;
  background: #ffffff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.choice .list-group {
  overflow: hidden;
  height: 0;
  overflow-y: auto;
  max-height: 200px;
}

.choice .list-group-item:hover {
  background-color: gray;
  color: #ffffff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.choice .list-group_active {
  height: 100%;
}

.list {
  position: absolute;
  bottom: 0;
  max-height: 700px;
  max-width: 500px;
  min-width: 400px;
}

.list .badge {
  background-color: #5181b8;
  font-size: 1em;
}
@supports (-webkit-appearance:none){

}
